@page "/Users"
@using VegetableShop.Services
@using VegetableShop.Data
@inject UserService userService

<NavLink class="nav-link" href="AddUsers">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<h1>User Info</h1>
@if (UserObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Address</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserObj)
            {
                <tr>
                    <td>@user.id</td>
                    <td>@user.full_name</td>
                    <td>@user.user_name</td>
                    <td>@user.address</td>
                    <td>@user.created_at</td>
                    <td>
                        <a class="nav-link" href="EditEmployee/@user.id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Delete/@user.id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<users> UserObj;
    protected override async Task OnInitializedAsync()
    {
        UserObj = await Task.Run(() => userService.GetAllUsersAsync());
    }
}